*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
.box{
    position: relative;
    margin: 100px auto;
    width: 730px;
    overflow: hidden;
}
.box .img{
    width: 4380px;
    overflow: hidden;
}
.box .img li{
    float: left;
}
.box .point{
    position: absolute;
    top: 420px;
    left: 300px;
    height: 20px;
    z-index: 111;
    font-size: 0;
}
.box .point li{
    display: inline-block;
    margin: 5px;;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #333333;
    cursor: pointer;
}
/*.box .point li:hover{
    background: white;
    transition: 0.3s;
}*/
.box .point li.select{
    background: white;
}

.box .btn{
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    background: #333333;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    opacity: 0;
}
.btnR{
    right: 0;
}
.btnL{
    left: 0;
}
.box:hover .btn{
    opacity: 0.5;
    transition: 0.5s;
}
.box:hover  .btn:hover{
    opacity: 1;
    transition: 0.5s;
}
