*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    position: relative;
    margin: 100px auto;
    width: 1000px;
}
nav ul{
    font-size: 0;
    height: 40px;
    background: #333333;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    padding: 0 30px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: white;
}
nav ul li a:hover,nav ul li a.select{
    background: #AAAAAA;
    color: red;
}
nav .line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 0;
    border-top: 3px solid red;
}