*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.login{
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat 100% 100%;
    background-size: cover;
    overflow: hidden;
}
.login .box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    width: 500px;
    height: 300px;
    border: solid 1px #cccccc;
    border-radius: 0.2rem;
}
.login .box .bgColor{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
    border-radius: 0.2rem;
}
input{
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    margin: 40px auto;
    font-size: 18px;
    box-shadow: 2px 2px 2px #333 inset;
    color: white;
    outline: none;
    z-index: 111;
}
.loginText,.passwordText{
    background: rgba(0,0,0,0.2);
    background: url("../images/user.png") no-repeat center left;
    border: solid 1px #fff;
    padding-left: 40px;
}
.loginText{
    background-position: 3px 2px;
}
.passwordText{
    background-position: 3px -60px;
}
.btn{
    width: 340px;
    background: #e88712;
    border: none;
    color: white;
    font-size: 25px;
}
